<section class="homepage_section_offers col-lg-4 col-md-6 col-sm-6 col-xs-12">

    <div class="section_header">
        <a href="#/contact">
            {{#if offers_image_source}}
                <div class="section_image">
                    <img alt="No image preview" src={{offers_image_source}}>
                </div>
            {{/if}}
            <h1>Нашите услуги</h1>
        </a>
    </div>

    <div class="section_body">
    {{>single_offer}}
    </div>
    <hr>
</section>