<section class="homepage_section_posts col-lg-4 col-md-8 col-sm-8 col-xs-12">
    <div class="section_header">
        <a href="#/posts">
            <div class="section_image">
                <img alt="No image preview" src='./images/Homepage/StopDisabled.png'>
            </div>
            <h1>Скорошни публикации за Вас от студио Торекс:</h1>
        </a>
    </div>
    <div class="section_body">
        <div class="posts">
            <div class="kart-loader">
                <div class="sheath">
                    <div class="segment"></div>
                </div>
                <div class="sheath">
                    <div class="segment"></div>
                </div>
                <div class="sheath">
                    <div class="segment"></div>
                </div>
                <div class="sheath">
                    <div class="segment"></div>
                </div>
                <div class="sheath">
                    <div class="segment"></div>
                </div>
                <div class="sheath">
                    <div class="segment"></div>
                </div>
                <div class="sheath">
                    <div class="segment"></div>
                </div>
                <div class="sheath">
                    <div class="segment"></div>
                </div>
                <div class="sheath">
                    <div class="segment"></div>
                </div>
                <div class="sheath">
                    <div class="segment"></div>
                </div>
                <div class="sheath">
                    <div class="segment"></div>
                </div>
                <div class="sheath">
                    <div class="segment"></div>
                </div>
            </div>
        </div>
    </div>
    <hr>
</section>