<section class="homepage_section_offers col-lg-4 col-md-6 col-sm-6 col-xs-12">
    <div class="section_header">
        {{#if offers_image_source}}
            <div class="section_image">
                <img alt="No image preview" src={{offers_image_source}}>
            </div>
        {{/if}}
        <h1>Нашите услуги</h1>
    </div>
    <div class="section_body">
        <div id="header_offer_1"><h4>Режисура</h4></div>
        <div id="body_offer_1">
            <p>
                <a href="#/contact">
                    Нашите креативни режисьори ще ви помогнат и тласнат проектите ви към съвсем различни измерения
                </a>
            </p>
        </div>
        <div id="header_offer_2"><h4>Постпродукция и монтаж</h4></div>
        <div id="body_offer_2">
            <p>
                <a href="#/contact">
                    Нашите креативни режисьори ще ви помогнат и тласнат проектите ви към съвсем различни измерения
                </a>
            </p>
        </div>
        <div id="header_offer_3"><h4>Звукозапис и звукообработка</h4></div>
        <div id="body_offer_3">
            <p>
                <a href="#/contact">
                    Нашият композитор е с модерни и новаторски виждания, който не се страхува да смесва различни
                    стилове и да експерементира, има успешно композирани проекти в телевизионните сериали,
                    както и в музикалните клипове.
                </a>
            </p>
        </div>
        <div id="header_offer_4"><h4>Заснемане</h4></div>
        <div id="body_offer_4">
            <p>
                <a href="#/contact">
                    Освен идеята и креативноста е важна и цялостната визия на изображението, нашите оператори работят
                    с последните технологични тенденции за да изградят една перфектна картина.
                </a>
            </p>
        </div>
    </div>
<hr>
</section>