<div class="homepage_main_wrapper">
    <div class="homepage_main_header">
        <h1>STUDIO TOREX</h1>
        <h3>ПРЕДСТАВЯ:</h3>
        <hr>
    </div>
    <div class="homepage_main_body">
        {{>homepage_main_section_offers}}
        {{>homepage_main_section_about}}
        {{>homepage_main_section_posts}}
    </div>
</div>