<section class="homepage_section_about col-lg-4 col-md-6 col-sm-6 col-xs-12">
    <a href="#/about">
    <div class="section_header">
        <div class="section_image">
            <img alt="No image preview" src='./images/PauseDisabled.png'>
        </div>
            <h1>Кои сме ние?</h1>
    </div>
    <div class="section_body">
        <p>Заснемане на музикални видео клипове, изготвяне на реклами, филмови продукции, сватби.
            Предлагаме и аудио студио за звукозапис на музика и песни. Изготвяне на аудио-парчета в последен
            стил с модата.
        </p>
    </div>
        </a>
    <hr>
</section>