<section>
    <div class="section_header">
        <div class="section_image">
            <img alt="No image preview" src='./images/StopDisabled.png'>
        </div>
        <h1>Скорошни публикации за Вас от студио Torex:</h1>
    </div>
    <div class="section_body">
        <div class="posts">
            {{>posts}}
        </div>
    </div>
    <hr>
</section>