{{#each offers}}
    <div class="header_offer_1">
        <h4>{{header}}</h4>
    </div>
    <div class="body_offer_1">
        <p>
            <a href="#/contact">
                {{body}}
            </a>
        </p>
    </div>
{{/each}}
