<div class="videos_main_wrapper">
    {{#each video}}
        <div class="single_video_wrapper col-xl-4 col-lg-4 col-md-6 col-sm-12">
            <iframe src="{{video_url}}" title="{{video_title}}"></iframe>
        </div>
    {{/each}}
</div>