<div class="aboutpage_main_wrapper">
    <div class="aboutpage_main_header">
        <h1>КОИ СМЕ НИЕ</h1>
        <hr>
    </div>
    <div class="aboutpage_main_body">
        {{>aboutpage_section_teammate}}
    </div>
</div>