<div class="aboutpage_main_wrapper">
    <div class="aboutpage_main_header">
        <h1>КОИ СМЕ НИЕ</h1>
        <hr>
    </div>
    <div class="aboutpage_main_body">
        {{>aboutpage_section_teammate}}
    </div>
</div>
<span id="prev">Previous</span>
<div id="teammate_slider">
    {{#each image}}
        <div><img src="{{url}}"></div>
    {{/each}}
</div>
<span id="next">Next</span>