<div class="aboutpage_main_wrapper">
    <div class="aboutpage_main_header">
        <h1>КОИ СМЕ НИЕ</h1>
        <hr>
    </div>
    <div class="aboutpage_main_body">
        {{>aboutpage_section_teammate}}
    </div>
</div>
<div class="container">
    <div id="teammate_slider">
        {{#each image}}
            <div><img src="{{url}}"></div>
        {{/each}}
    </div>
    <div id="slider_controls">
        <span id="prev"><i class="fas fa-arrow-circle-left" aria-hidden="true"></i></span>
        <span id="next"><i class="fas fa-arrow-circle-right" aria-hidden="true"></i></span>
    </div>
</div>
