{{#each teammates}}
    <section class="aboutpage_section_teammate_wrapper col-xl-6 col-lg-8 col-md-8 col-sm-12 col-xs-12">
        <div class="aboutpage_section_teammate_header">
            <h1>{{name}}</h1>
            <h5>{{role}}</h5>
        </div>
        <div class="aboutpage_section_teammate_body">
            <img src="{{img_source}}">
            <p>{{resume}}</p>
        </div>
    </section>
{{/each}}

