$linkHoverColor: rgb(28, 160, 60);
$mainHeaderColor: rgb(197, 197, 197);
$mainBodyColor: rgb(163, 163, 163);
$hrColor: indianred;
$mainGradient: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 31%, rgba(173, 61, 32, 0.5) 100%);
$sliderWidth: 700px;
$sliderHeight: 500px;
@mixin pulseEffect() {
  animation-name: pulse_animation;
  animation-duration: 1500ms;
  transform-origin: 70% 70%;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.aboutpage_main_wrapper {
  position: relative;
  top: 140px;
  display: flex;
  padding: 50px 10px 10px 10px;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 300px;
  .aboutpage_main_header {
    color: $mainHeaderColor;
    font-size: 35px;
    hr {
      width: 100px;
      height: 2px;
      background: $hrColor;
    }
  }
  .aboutpage_main_body {
    padding: 50px 0 50px 0;
    display: flex;
    width: 95%;
    justify-content: center;
    flex-wrap: wrap;
    background: $mainGradient;
    .aboutpage_section_teammate_wrapper {
      margin-bottom: 50px;
      .aboutpage_section_teammate_header {
        padding: 10px 0 10px 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
        color: $mainHeaderColor;
        a {
          color: $mainHeaderColor;
          text-decoration: none;
          h1 {
            width: 100%;
            text-align: center;
            font-size: 30px;
            font-weight: bold;
          }
          &:hover {
            color: $linkHoverColor;
          }
        }
        h5 {
          font-size: 20px;
          font-weight: bold;
          font-style: italic;
          text-align: center;
        }
      }
      .aboutpage_section_teammate_body {
        padding: 10px;
        display: flex;
        align-items: center;
        color: $mainHeaderColor;
        justify-content: center;
        .radiused {
          background: linear-gradient(to bottom, rgba(6, 23, 49, 0.65) 0%, rgba(6, 23, 49, 0.35) 100%);
          border: 2px solid rgb(190, 202, 218);
          display: flex;
          align-items: center;
          border-radius: 150px;
        }
        img {
          max-width: 293px;
          height: 270px;
          cursor: pointer;
          border-radius: 140px;
          &:hover {
            box-shadow: 0 0 7px 4px white;
          }
        }
        p {
          display: none;
          font-size: 13px;
          font-weight: bold;
        }
        #teammate_1_p {
          width: 315px;
          height: 270px;
          line-height: 29px;
          padding-right: 58px;
          #row1 {
            margin-left: -55px;
          }
          #row2 {
            margin-left: -24px;
          }
          #row3 {
            margin-left: -6px;
          }
          #row4 {
            margin-left: 3px;
          }
          #row5 {
            margin-left: 7px;
          }
          #row6 {
            margin-left: 5px;
          }
          #row7 {
            margin-left: -4px;
          }
          #row8 {
            margin-left: -20px;
          }
          #row9 {
            margin-left: -47px;
          }
        }
        #teammate_2_p {
          width: 315px;
          height: 270px;
          line-height: 27px;

          #row1 {
            margin-right: -59px;
          }
          #row2 {
            margin: 0 -25px 0 83px;
          }
          #row3 {
            margin: 0 -8px 0 32px;
          }
          #row4 {
            margin: 0 2px 0 64px;
          }
          #row5 {
            margin: 0 7px 0 81px;
          }
          #row6 {
            margin: 0 7px 0 66px;
          }
          #row7 {
            margin-left: 30px;
          }
          #row8 {
            margin: 0 -10px 0 107px;
          }
          #row9 {
            margin: 0 -31px 0 62px;
          }
          #row10 {
            margin-right: -66px;
          }
        }
        #teammate_3_p {
          width: 269px;
          height: 270px;
          line-height: 29px;
          #row1 {
            margin: 0 66px 0 -57px;
          }
          #row2 {
            margin: 0 70px 0 -23px;
          }
          #row3 {
            margin: 0 58px 0 -6px;
          }
          #row4 {
            margin: 0 43px 0 3px;
          }
          #row5 {
            margin: 0 30px 0 6px;
          }
          #row6 {
            margin: 0 36px 0 4px;
          }
          #row7 {
            margin: 0 66px 0 -4px;
          }
          #row8 {
            margin: 0 213px 0 -20px;
          }
          #row9 {
            margin-left: -44px;
          }
        }
        #teammate_4_p {
          width: 350px;
          height: 270px;
          line-height: 27px;
          #row1 {
            margin: 0 -61px 0 49px;
          }
          #row2 {
            margin: 0 -25px 0 64px;
          }
          #row3 {
            margin: 0 -7px 0 0;
          }
          #row4 {
            margin: 0 4px 0 0;
          }
          #row5 {
            margin: 0 7px 0 60px;
          }
          #row6 {
            margin: 0 6px 0 20px;
          }
          #row7 {
            margin: 0 2px 0 78px;
          }
          #row8 {
            margin: 0 -11px 0 52px;
          }
          #row9 {
            margin: 0 -31px 0 138px;
          }
          #row10 {
            margin: 0 -64px 0 0;
          }
        }
      }
    }
  }
  &:hover {
    .aboutpage_main_header hr {
      transition: all 0.3s ease-in-out;
      width: 200px;
    }
  }
}

//Slider
#prev, #next {
  color: $mainHeaderColor;
  font-size: 60px;
  cursor: pointer;
  &:hover {
    color: indianred;
    @include pulseEffect();
  }
}

#slider_controls {
  width: calc(#{$sliderWidth} + 50px);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 9%;
  bottom: 375px;
}

#prev {
  z-index: 1000;
  margin-right: 111%;
}

#next {
  z-index: 1000;
}

.container {
  margin: 0 auto;
  padding: 60px;
  width: 80%;
  #teammate_slider {
    margin-bottom: 50px;
    padding-left: 14%;
    img {
      width: $sliderWidth;
      height: $sliderHeight;
      border-radius: 30px;
    }
  }
  .slick-dots {
    right: 0;
    li button {
      background: $mainHeaderColor;
      border-radius: 50%;
    }
  }
}

@media screen and (max-width: 950px) {
  $sliderWidth: 496px;
  $sliderHeight: 416px;
  .container {
    #teammate_slider {
      img {
        width: $sliderWidth;
        height: $sliderHeight;
      }
    }
  }
  #slider_controls {
    width: calc(#{$sliderWidth} + 50px);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 9%;
    bottom: 375px;
  }
}

@media screen and (max-width: 700px) {

  .aboutpage_main_wrapper .aboutpage_main_body .aboutpage_section_teammate_wrapper .aboutpage_section_teammate_body {
    .radiused {
      flex-direction: column;
      text-align: center;
    }
    #teammate_1_p {
      height: 250px;
      padding-right: 0;
      line-height: 25px;
      #row1, #row2, #row3, #row4, #row5, #row6, #row7, #row8, #row9, #row10{
        margin-left: 0;
      }
    }
    #teammate_3_p {
      height: 250px;
      padding-right: 0;
      line-height: 29px;
      #row1, #row2, #row3, #row4, #row5, #row6, #row7, #row8, #row9, #row10{
        margin: 0;
      }
    }
  }
}