.aboutpage_main_wrapper {
  position: relative;
  top: 140px;
  display: flex;
  padding: 50px 10px 10px 10px;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 300px; }
  .aboutpage_main_wrapper .aboutpage_main_header {
    color: #c5c5c5;
    font-size: 35px; }
    .aboutpage_main_wrapper .aboutpage_main_header hr {
      width: 100px;
      height: 2px;
      background: indianred; }
  .aboutpage_main_wrapper .aboutpage_main_body {
    padding: 50px 0 50px 0;
    display: flex;
    width: 95%;
    justify-content: center;
    flex-wrap: wrap;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 31%, rgba(173, 61, 32, 0.5) 100%); }
    .aboutpage_main_wrapper .aboutpage_main_body .aboutpage_section_teammate_wrapper {
      margin-bottom: 50px; }
      .aboutpage_main_wrapper .aboutpage_main_body .aboutpage_section_teammate_wrapper .aboutpage_section_teammate_header {
        padding: 10px 0 10px 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
        color: #c5c5c5; }
        .aboutpage_main_wrapper .aboutpage_main_body .aboutpage_section_teammate_wrapper .aboutpage_section_teammate_header a {
          color: #c5c5c5;
          text-decoration: none; }
          .aboutpage_main_wrapper .aboutpage_main_body .aboutpage_section_teammate_wrapper .aboutpage_section_teammate_header a h1 {
            width: 100%;
            text-align: center;
            font-size: 30px;
            font-weight: bold; }
          .aboutpage_main_wrapper .aboutpage_main_body .aboutpage_section_teammate_wrapper .aboutpage_section_teammate_header a:hover {
            color: #1ca03c; }
        .aboutpage_main_wrapper .aboutpage_main_body .aboutpage_section_teammate_wrapper .aboutpage_section_teammate_header h5 {
          font-size: 20px;
          font-weight: bold;
          font-style: italic;
          text-align: center; }
      .aboutpage_main_wrapper .aboutpage_main_body .aboutpage_section_teammate_wrapper .aboutpage_section_teammate_body {
        padding: 10px;
        display: flex;
        align-items: center;
        color: #c5c5c5;
        justify-content: center; }
        .aboutpage_main_wrapper .aboutpage_main_body .aboutpage_section_teammate_wrapper .aboutpage_section_teammate_body .radiused {
          background: linear-gradient(to bottom, rgba(6, 23, 49, 0.65) 0%, rgba(6, 23, 49, 0.35) 100%);
          border: 2px solid #becada;
          display: flex;
          align-items: center;
          border-radius: 150px; }
        .aboutpage_main_wrapper .aboutpage_main_body .aboutpage_section_teammate_wrapper .aboutpage_section_teammate_body img {
          max-width: 293px;
          height: 270px;
          cursor: pointer;
          border-radius: 140px; }
          .aboutpage_main_wrapper .aboutpage_main_body .aboutpage_section_teammate_wrapper .aboutpage_section_teammate_body img:hover {
            box-shadow: 0 0 7px 4px white; }
        .aboutpage_main_wrapper .aboutpage_main_body .aboutpage_section_teammate_wrapper .aboutpage_section_teammate_body p {
          display: none;
          font-size: 13px;
          font-weight: bold; }
        .aboutpage_main_wrapper .aboutpage_main_body .aboutpage_section_teammate_wrapper .aboutpage_section_teammate_body #teammate_1_p {
          width: 350px;
          height: 270px;
          line-height: 29px;
          padding-right: 58px; }
          .aboutpage_main_wrapper .aboutpage_main_body .aboutpage_section_teammate_wrapper .aboutpage_section_teammate_body #teammate_1_p #row1 {
            margin-left: -55px; }
          .aboutpage_main_wrapper .aboutpage_main_body .aboutpage_section_teammate_wrapper .aboutpage_section_teammate_body #teammate_1_p #row2 {
            margin-left: -24px; }
          .aboutpage_main_wrapper .aboutpage_main_body .aboutpage_section_teammate_wrapper .aboutpage_section_teammate_body #teammate_1_p #row3 {
            margin-left: -6px; }
          .aboutpage_main_wrapper .aboutpage_main_body .aboutpage_section_teammate_wrapper .aboutpage_section_teammate_body #teammate_1_p #row4 {
            margin-left: 3px; }
          .aboutpage_main_wrapper .aboutpage_main_body .aboutpage_section_teammate_wrapper .aboutpage_section_teammate_body #teammate_1_p #row5 {
            margin-left: 7px; }
          .aboutpage_main_wrapper .aboutpage_main_body .aboutpage_section_teammate_wrapper .aboutpage_section_teammate_body #teammate_1_p #row6 {
            margin-left: 5px; }
          .aboutpage_main_wrapper .aboutpage_main_body .aboutpage_section_teammate_wrapper .aboutpage_section_teammate_body #teammate_1_p #row7 {
            margin-left: -4px; }
          .aboutpage_main_wrapper .aboutpage_main_body .aboutpage_section_teammate_wrapper .aboutpage_section_teammate_body #teammate_1_p #row8 {
            margin-left: -20px; }
          .aboutpage_main_wrapper .aboutpage_main_body .aboutpage_section_teammate_wrapper .aboutpage_section_teammate_body #teammate_1_p #row9 {
            margin-left: -47px; }
        .aboutpage_main_wrapper .aboutpage_main_body .aboutpage_section_teammate_wrapper .aboutpage_section_teammate_body #teammate_2_p {
          width: 350px;
          height: 270px;
          line-height: 27px; }
          .aboutpage_main_wrapper .aboutpage_main_body .aboutpage_section_teammate_wrapper .aboutpage_section_teammate_body #teammate_2_p #row1 {
            margin-right: -59px; }
          .aboutpage_main_wrapper .aboutpage_main_body .aboutpage_section_teammate_wrapper .aboutpage_section_teammate_body #teammate_2_p #row2 {
            margin: 0 -25px 0 83px; }
          .aboutpage_main_wrapper .aboutpage_main_body .aboutpage_section_teammate_wrapper .aboutpage_section_teammate_body #teammate_2_p #row3 {
            margin: 0 -8px 0 32px; }
          .aboutpage_main_wrapper .aboutpage_main_body .aboutpage_section_teammate_wrapper .aboutpage_section_teammate_body #teammate_2_p #row4 {
            margin: 0 2px 0 64px; }
          .aboutpage_main_wrapper .aboutpage_main_body .aboutpage_section_teammate_wrapper .aboutpage_section_teammate_body #teammate_2_p #row5 {
            margin: 0 7px 0 81px; }
          .aboutpage_main_wrapper .aboutpage_main_body .aboutpage_section_teammate_wrapper .aboutpage_section_teammate_body #teammate_2_p #row6 {
            margin: 0 7px 0 66px; }
          .aboutpage_main_wrapper .aboutpage_main_body .aboutpage_section_teammate_wrapper .aboutpage_section_teammate_body #teammate_2_p #row7 {
            margin-left: 30px; }
          .aboutpage_main_wrapper .aboutpage_main_body .aboutpage_section_teammate_wrapper .aboutpage_section_teammate_body #teammate_2_p #row8 {
            margin: 0 -10px 0 107px; }
          .aboutpage_main_wrapper .aboutpage_main_body .aboutpage_section_teammate_wrapper .aboutpage_section_teammate_body #teammate_2_p #row9 {
            margin: 0 -31px 0 62px; }
          .aboutpage_main_wrapper .aboutpage_main_body .aboutpage_section_teammate_wrapper .aboutpage_section_teammate_body #teammate_2_p #row10 {
            margin-right: -66px; }
        .aboutpage_main_wrapper .aboutpage_main_body .aboutpage_section_teammate_wrapper .aboutpage_section_teammate_body #teammate_3_p {
          width: 340px;
          height: 270px;
          line-height: 29px; }
          .aboutpage_main_wrapper .aboutpage_main_body .aboutpage_section_teammate_wrapper .aboutpage_section_teammate_body #teammate_3_p #row1 {
            margin: 0 66px 0 -57px; }
          .aboutpage_main_wrapper .aboutpage_main_body .aboutpage_section_teammate_wrapper .aboutpage_section_teammate_body #teammate_3_p #row2 {
            margin: 0 70px 0 -23px; }
          .aboutpage_main_wrapper .aboutpage_main_body .aboutpage_section_teammate_wrapper .aboutpage_section_teammate_body #teammate_3_p #row3 {
            margin: 0 58px 0 -6px; }
          .aboutpage_main_wrapper .aboutpage_main_body .aboutpage_section_teammate_wrapper .aboutpage_section_teammate_body #teammate_3_p #row4 {
            margin: 0 43px 0 3px; }
          .aboutpage_main_wrapper .aboutpage_main_body .aboutpage_section_teammate_wrapper .aboutpage_section_teammate_body #teammate_3_p #row5 {
            margin: 0 30px 0 6px; }
          .aboutpage_main_wrapper .aboutpage_main_body .aboutpage_section_teammate_wrapper .aboutpage_section_teammate_body #teammate_3_p #row6 {
            margin: 0 36px 0 4px; }
          .aboutpage_main_wrapper .aboutpage_main_body .aboutpage_section_teammate_wrapper .aboutpage_section_teammate_body #teammate_3_p #row7 {
            margin: 0 66px 0 -4px; }
          .aboutpage_main_wrapper .aboutpage_main_body .aboutpage_section_teammate_wrapper .aboutpage_section_teammate_body #teammate_3_p #row8 {
            margin: 0 213px 0 -20px; }
          .aboutpage_main_wrapper .aboutpage_main_body .aboutpage_section_teammate_wrapper .aboutpage_section_teammate_body #teammate_3_p #row9 {
            margin-left: -44px; }
        .aboutpage_main_wrapper .aboutpage_main_body .aboutpage_section_teammate_wrapper .aboutpage_section_teammate_body #teammate_4_p {
          width: 380px;
          height: 270px;
          line-height: 27px; }
          .aboutpage_main_wrapper .aboutpage_main_body .aboutpage_section_teammate_wrapper .aboutpage_section_teammate_body #teammate_4_p #row1 {
            margin: 0 -61px 0 49px; }
          .aboutpage_main_wrapper .aboutpage_main_body .aboutpage_section_teammate_wrapper .aboutpage_section_teammate_body #teammate_4_p #row2 {
            margin: 0 -25px 0 64px; }
          .aboutpage_main_wrapper .aboutpage_main_body .aboutpage_section_teammate_wrapper .aboutpage_section_teammate_body #teammate_4_p #row3 {
            margin: 0 -7px 0 0; }
          .aboutpage_main_wrapper .aboutpage_main_body .aboutpage_section_teammate_wrapper .aboutpage_section_teammate_body #teammate_4_p #row4 {
            margin: 0 4px 0 0; }
          .aboutpage_main_wrapper .aboutpage_main_body .aboutpage_section_teammate_wrapper .aboutpage_section_teammate_body #teammate_4_p #row5 {
            margin: 0 7px 0 60px; }
          .aboutpage_main_wrapper .aboutpage_main_body .aboutpage_section_teammate_wrapper .aboutpage_section_teammate_body #teammate_4_p #row6 {
            margin: 0 6px 0 20px; }
          .aboutpage_main_wrapper .aboutpage_main_body .aboutpage_section_teammate_wrapper .aboutpage_section_teammate_body #teammate_4_p #row7 {
            margin: 0 2px 0 78px; }
          .aboutpage_main_wrapper .aboutpage_main_body .aboutpage_section_teammate_wrapper .aboutpage_section_teammate_body #teammate_4_p #row8 {
            margin: 0 -11px 0 52px; }
          .aboutpage_main_wrapper .aboutpage_main_body .aboutpage_section_teammate_wrapper .aboutpage_section_teammate_body #teammate_4_p #row9 {
            margin: 0 -31px 0 138px; }
          .aboutpage_main_wrapper .aboutpage_main_body .aboutpage_section_teammate_wrapper .aboutpage_section_teammate_body #teammate_4_p #row10 {
            margin: 0 -64px 0 0; }
  .aboutpage_main_wrapper:hover .aboutpage_main_header hr {
    transition: all 0.3s ease-in-out;
    width: 200px; }

#prev, #next {
  color: #c5c5c5;
  font-size: 60px;
  cursor: pointer; }
  #prev:hover, #next:hover {
    color: indianred;
    animation-name: pulse_animation;
    animation-duration: 1500ms;
    transform-origin: 70% 70%;
    animation-iteration-count: infinite;
    animation-timing-function: linear; }

#slider_controls {
  width: calc(50vw + 50px);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 11%;
  bottom: 30vw; }

#prev {
  z-index: 1000;
  margin-right: 111%; }

#next {
  z-index: 1000; }

.container {
  margin: 0 auto;
  padding: 60px;
  width: 80%; }
  .container #teammate_slider {
    margin-bottom: 50px;
    padding-left: 14%; }
    .container #teammate_slider img {
      width: 50vw;
      height: 40vw;
      border-radius: 30px; }
  .container .slick-dots {
    right: 0; }
    .container .slick-dots li button {
      background: #c5c5c5;
      border-radius: 50%; }

@media screen and (max-width: 700px) {
  .aboutpage_main_wrapper .aboutpage_main_body .aboutpage_section_teammate_wrapper .aboutpage_section_teammate_body .radiused {
    flex-direction: column;
    text-align: center; }
  .aboutpage_main_wrapper .aboutpage_main_body .aboutpage_section_teammate_wrapper .aboutpage_section_teammate_body #teammate_1_p {
    height: 305px;
    width: 250px;
    padding-right: 0;
    line-height: 25px; }
    .aboutpage_main_wrapper .aboutpage_main_body .aboutpage_section_teammate_wrapper .aboutpage_section_teammate_body #teammate_1_p #row1, .aboutpage_main_wrapper .aboutpage_main_body .aboutpage_section_teammate_wrapper .aboutpage_section_teammate_body #teammate_1_p #row2, .aboutpage_main_wrapper .aboutpage_main_body .aboutpage_section_teammate_wrapper .aboutpage_section_teammate_body #teammate_1_p #row3, .aboutpage_main_wrapper .aboutpage_main_body .aboutpage_section_teammate_wrapper .aboutpage_section_teammate_body #teammate_1_p #row4, .aboutpage_main_wrapper .aboutpage_main_body .aboutpage_section_teammate_wrapper .aboutpage_section_teammate_body #teammate_1_p #row5, .aboutpage_main_wrapper .aboutpage_main_body .aboutpage_section_teammate_wrapper .aboutpage_section_teammate_body #teammate_1_p #row6, .aboutpage_main_wrapper .aboutpage_main_body .aboutpage_section_teammate_wrapper .aboutpage_section_teammate_body #teammate_1_p #row7, .aboutpage_main_wrapper .aboutpage_main_body .aboutpage_section_teammate_wrapper .aboutpage_section_teammate_body #teammate_1_p #row8, .aboutpage_main_wrapper .aboutpage_main_body .aboutpage_section_teammate_wrapper .aboutpage_section_teammate_body #teammate_1_p #row9, .aboutpage_main_wrapper .aboutpage_main_body .aboutpage_section_teammate_wrapper .aboutpage_section_teammate_body #teammate_1_p #row10 {
      margin-left: 0; }
  .aboutpage_main_wrapper .aboutpage_main_body .aboutpage_section_teammate_wrapper .aboutpage_section_teammate_body #teammate_2_p {
    height: 315px;
    width: 240px;
    padding-right: 0;
    line-height: 25px; }
    .aboutpage_main_wrapper .aboutpage_main_body .aboutpage_section_teammate_wrapper .aboutpage_section_teammate_body #teammate_2_p #row1, .aboutpage_main_wrapper .aboutpage_main_body .aboutpage_section_teammate_wrapper .aboutpage_section_teammate_body #teammate_2_p #row2, .aboutpage_main_wrapper .aboutpage_main_body .aboutpage_section_teammate_wrapper .aboutpage_section_teammate_body #teammate_2_p #row3, .aboutpage_main_wrapper .aboutpage_main_body .aboutpage_section_teammate_wrapper .aboutpage_section_teammate_body #teammate_2_p #row4, .aboutpage_main_wrapper .aboutpage_main_body .aboutpage_section_teammate_wrapper .aboutpage_section_teammate_body #teammate_2_p #row5, .aboutpage_main_wrapper .aboutpage_main_body .aboutpage_section_teammate_wrapper .aboutpage_section_teammate_body #teammate_2_p #row6, .aboutpage_main_wrapper .aboutpage_main_body .aboutpage_section_teammate_wrapper .aboutpage_section_teammate_body #teammate_2_p #row7, .aboutpage_main_wrapper .aboutpage_main_body .aboutpage_section_teammate_wrapper .aboutpage_section_teammate_body #teammate_2_p #row8, .aboutpage_main_wrapper .aboutpage_main_body .aboutpage_section_teammate_wrapper .aboutpage_section_teammate_body #teammate_2_p #row9, .aboutpage_main_wrapper .aboutpage_main_body .aboutpage_section_teammate_wrapper .aboutpage_section_teammate_body #teammate_2_p #row10 {
      margin: 0; }
  .aboutpage_main_wrapper .aboutpage_main_body .aboutpage_section_teammate_wrapper .aboutpage_section_teammate_body #teammate_3_p {
    height: 270px;
    width: 250px;
    padding-right: 0;
    line-height: 29px; }
    .aboutpage_main_wrapper .aboutpage_main_body .aboutpage_section_teammate_wrapper .aboutpage_section_teammate_body #teammate_3_p #row1, .aboutpage_main_wrapper .aboutpage_main_body .aboutpage_section_teammate_wrapper .aboutpage_section_teammate_body #teammate_3_p #row2, .aboutpage_main_wrapper .aboutpage_main_body .aboutpage_section_teammate_wrapper .aboutpage_section_teammate_body #teammate_3_p #row3, .aboutpage_main_wrapper .aboutpage_main_body .aboutpage_section_teammate_wrapper .aboutpage_section_teammate_body #teammate_3_p #row4, .aboutpage_main_wrapper .aboutpage_main_body .aboutpage_section_teammate_wrapper .aboutpage_section_teammate_body #teammate_3_p #row5, .aboutpage_main_wrapper .aboutpage_main_body .aboutpage_section_teammate_wrapper .aboutpage_section_teammate_body #teammate_3_p #row6, .aboutpage_main_wrapper .aboutpage_main_body .aboutpage_section_teammate_wrapper .aboutpage_section_teammate_body #teammate_3_p #row7, .aboutpage_main_wrapper .aboutpage_main_body .aboutpage_section_teammate_wrapper .aboutpage_section_teammate_body #teammate_3_p #row8, .aboutpage_main_wrapper .aboutpage_main_body .aboutpage_section_teammate_wrapper .aboutpage_section_teammate_body #teammate_3_p #row9, .aboutpage_main_wrapper .aboutpage_main_body .aboutpage_section_teammate_wrapper .aboutpage_section_teammate_body #teammate_3_p #row10 {
      margin: 0; }
  .aboutpage_main_wrapper .aboutpage_main_body .aboutpage_section_teammate_wrapper .aboutpage_section_teammate_body #teammate_4_p {
    height: 320px;
    width: 290px;
    padding-right: 0;
    line-height: 25px; }
    .aboutpage_main_wrapper .aboutpage_main_body .aboutpage_section_teammate_wrapper .aboutpage_section_teammate_body #teammate_4_p #row1, .aboutpage_main_wrapper .aboutpage_main_body .aboutpage_section_teammate_wrapper .aboutpage_section_teammate_body #teammate_4_p #row2, .aboutpage_main_wrapper .aboutpage_main_body .aboutpage_section_teammate_wrapper .aboutpage_section_teammate_body #teammate_4_p #row3, .aboutpage_main_wrapper .aboutpage_main_body .aboutpage_section_teammate_wrapper .aboutpage_section_teammate_body #teammate_4_p #row4, .aboutpage_main_wrapper .aboutpage_main_body .aboutpage_section_teammate_wrapper .aboutpage_section_teammate_body #teammate_4_p #row5, .aboutpage_main_wrapper .aboutpage_main_body .aboutpage_section_teammate_wrapper .aboutpage_section_teammate_body #teammate_4_p #row6, .aboutpage_main_wrapper .aboutpage_main_body .aboutpage_section_teammate_wrapper .aboutpage_section_teammate_body #teammate_4_p #row7, .aboutpage_main_wrapper .aboutpage_main_body .aboutpage_section_teammate_wrapper .aboutpage_section_teammate_body #teammate_4_p #row8, .aboutpage_main_wrapper .aboutpage_main_body .aboutpage_section_teammate_wrapper .aboutpage_section_teammate_body #teammate_4_p #row9, .aboutpage_main_wrapper .aboutpage_main_body .aboutpage_section_teammate_wrapper .aboutpage_section_teammate_body #teammate_4_p #row10 {
      margin: 0; } }
@media screen and (max-width: 730px) {
  .container {
    width: 100%; }

  #slider_controls {
    width: calc(50vw + 50px);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; }
    #slider_controls span {
      font-size: 40px; } }
@media screen and (max-width: 430px) {
  .container {
    width: 100%;
    margin-top: -170px;
    padding: 11vw; }
    .container #teammate_slider {
      margin-bottom: 50px;
      padding-left: 0; }
      .container #teammate_slider img {
        width: calc(50vw + 28vw);
        height: calc(40vw + 15vw);
        border-radius: 30px; }

  #slider_controls {
    width: calc(50vw + 58px + 6vw);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 3vw;
    bottom: 45vw; }
    #slider_controls span {
      font-size: 36px; } }
@media screen and (max-width: 340px) {
  #slider_controls {
    width: calc(50vw + 58px + 2vw);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 4vw;
    bottom: 45vw; }
    #slider_controls span {
      font-size: 36px; } }

/*# sourceMappingURL=aboutpage.css.map */
