$linkHoverColor: rgb(28, 160, 60);
$mainHeaderColor: rgb(197, 197, 197);
$mainBodyColor: rgb(163, 163, 163);
$hrColor: indianred;
$mainGradient: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 31%, rgba(173, 61, 32, 0.5) 100%);
@mixin pulseEffect($iteration_count) {
  animation-name: pulse_animation;
  animation-duration: 1500ms;
  transform-origin: 70% 70%;
  animation-iteration-count: $iteration_count;
  animation-timing-function: linear;
}

.aboutpage_main_wrapper {
  position: relative;
  top: 140px;
  display: flex;
  padding: 50px 10px 10px 10px;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 300px;
  .aboutpage_main_header {
    color: $mainHeaderColor;
    font-size: 35px;
    hr {
      width: 100px;
      height: 2px;
      background: $hrColor;
    }
  }
  .aboutpage_main_body {
    padding: 50px 0 50px 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background: $mainGradient;
    .aboutpage_section_teammate_wrapper {
      margin-bottom: 50px;
      .aboutpage_section_teammate_header {
        padding: 10px 0 10px 0;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        color: $mainHeaderColor;
        h1 {
          width: 100%;
          text-align: center;
          font-size: 30px;
          font-weight: bold;
        }
        h5 {
          font-size: 20px;
          font-weight: bold;
          font-style: italic;
        }
      }
      .aboutpage_section_teammate_body {
        padding: 10px;
        display: flex;
        align-items: center;
        color: $mainHeaderColor;
        justify-content: center;
        .radiused {
          background: linear-gradient(to bottom, rgba(6, 23, 49,0.65) 0%,rgba(6, 23, 49,0.35) 100%);
          border: 2px solid rgb(190, 202, 218);
          display: flex;
          align-items: center;
          border-radius: 150px;
        }
        img {
          width: 350px;
          height: 270px;
          cursor: pointer;
          border-radius: 140px;
        }
        a {
          text-decoration: none;
          color: rgb(204, 204, 204);
          p {
            display: none;
            padding-right: 10px;
            padding-left: 10px;
            font-size: 17px;
            line-height: 22px;
            font-weight: bold;
            width: 310px;
          }
        }
      }
    }
  }
  &:hover {
    .aboutpage_main_header hr {
      transition: all 0.3s ease-in-out;
      width: 200px;
    }
  }
}