$mainGradient: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 31%, rgba(173, 61, 32, 0.5) 100%);
$linkHoverColor: rgb(28, 160, 60);
$mainHeaderColor: rgb(197, 197, 197);

@keyframes mexicanWave {
  0% { transform: scale(1.02, 1.02)}
  10% { transform: scale(1.04, 1.04)}
  20% { transform: scale(1.06, 1.06)}
  30% { transform: scale(1.08, 1.08)}
  40% { transform: scale(1.1, 1.1)}
  50% { transform: scale(1.12, 1.12)}
  60% { transform: scale(1.1, 1.1)}
  70% { transform: scale(1.08, 1.08)}
  80% { transform: scale(1.06, 1.06)}
  90% { transform: scale(1.04, 1.04)}
  100% { transform: scale(1.02, 1.02)}
}

html {
  cursor: default;
}
.contactpage_main_wrapper {
  position: relative;
  top: 150px;
  margin: 0 3% 200px 3%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background: $mainGradient;
  .contactpage_section_offers {
    background: rgba(120, 120, 120, 0.5);
    padding: 30px;
    border-radius: 10%;
    .section_header {
      color: $mainHeaderColor;
      width: 100%;
      h1 {
        width: 100%;
        text-align: center;
        font-size: 55px;
      }
    }
    .section_body {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      text-align: center;
      color: $mainHeaderColor;
      .offer_header {
        color: rgb(122, 25, 25);
        font-size: 30px;
        font-weight: bold;
        letter-spacing: 5px;      padding-top: 20px;

        img {
          width: 155px;
          height: 130px;
          transition: all ease-in-out 0.3s;
        }
      }
      .offer_body {
        font-size: 20px;
        padding-top: 15px;
        letter-spacing: 2px;
        line-height: 27px;
      }
      &:hover {
        img {
          animation: mexicanWave 500ms infinite;
        }
      }
    }
  }
  .contactpage_section_working_time {
    display: flex;
    justify-content: center;
    padding: 50px;
    .section_header {
      color: $mainHeaderColor;
      font-size: 30px;
      div {
        h5 {
          text-align: center;

        }
        hr {
          width: 70px;
          height: 1px;
          background: indianred;
          transition: all ease-in-out 0.3s;
        }
        &:hover hr{
          width: 130px;
        }
      }
    }
  }
  .contactpage_section_form {
    display: flex;
    flex-wrap: wrap;
    #contact_form {
      color: $mainHeaderColor;
      display: flex;
      padding: 25px;
      justify-content: center;
      form {
        display: flex;
        justify-content: center;
        background: rgba(120, 120, 120, 0.5);
        width: 500px;
        height: 530px;
        padding: 20px;
        border-radius: 10px;
        fieldset {
          display: flex;
          align-items: center;
          flex-direction: column;
          border-width: 2px;
          border-style: groove;
          border-color: $mainHeaderColor;
          padding: 20px;
          legend {
            font-size: 30px;
            letter-spacing: 3px;
            text-align: center;
          }
          label {
            font-size: 25px;
            text-align: left;
            margin: 10px 0;
          }
          input {
            width: 100%;
          }
          textarea {
            width: 100%;
            height: 150px;
            resize: none;
          }
          input[type="button"] {
            width: 30%;
            min-width: 100px;
            height: 10%;
            margin: 15px auto;
            font-size: 22px;
            font-weight: bold;
            background: rgba(252, 60, 30, 0.6);
            border: 3px solid rgba(197, 197, 197, 0.6);
            border-radius: 20px;
            box-shadow: 0 0 10px 5px rgba(153, 153, 153, 0.35);
            transition: all .5s;
            color: white;
            &:hover {
              background: rgba(33, 241, 33, 0.6);
              cursor: pointer;
              font-size: 25px;
            }
          }
        }
      }
    }
    #contact_google_map {
      color: $mainHeaderColor;
      display: flex;
      flex-direction: column;
      padding: 25px;
      justify-content: center;
      #map_wrapper {
        text-align: center;
        background: rgba(120, 120, 120, 0.5);
        height: 530px;
        border-radius: 10px;
        padding: 20px;
        h1 {
          font-size: 30px;
          font-weight: bold;
          letter-spacing: 3px;
          padding-top: 4px;
          margin: 0 0 55px 0;
        }
        #google_map {
          height: 400px;
          width: 100%;
          color: white;
          background: greenyellow;
        }
      }
    }
  }
}
