@keyframes mexicanWave {
  0% {
    transform: scale(1.02, 1.02); }
  10% {
    transform: scale(1.04, 1.04); }
  20% {
    transform: scale(1.06, 1.06); }
  30% {
    transform: scale(1.08, 1.08); }
  40% {
    transform: scale(1.1, 1.1); }
  50% {
    transform: scale(1.12, 1.12); }
  60% {
    transform: scale(1.1, 1.1); }
  70% {
    transform: scale(1.08, 1.08); }
  80% {
    transform: scale(1.06, 1.06); }
  90% {
    transform: scale(1.04, 1.04); }
  100% {
    transform: scale(1.02, 1.02); } }
html {
  cursor: default; }

.contactpage_main_wrapper {
  position: relative;
  top: 150px;
  margin: 0 3% 200px 3%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 31%, rgba(173, 61, 32, 0.5) 100%); }
  .contactpage_main_wrapper .contactpage_section_offers {
    background: rgba(120, 120, 120, 0.5);
    padding: 30px;
    border-radius: 10%; }
    .contactpage_main_wrapper .contactpage_section_offers .section_header {
      color: #c5c5c5;
      width: 100%; }
      .contactpage_main_wrapper .contactpage_section_offers .section_header h1 {
        width: 100%;
        text-align: center;
        font-size: 55px; }
    .contactpage_main_wrapper .contactpage_section_offers .section_body {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      text-align: center;
      color: #c5c5c5; }
      .contactpage_main_wrapper .contactpage_section_offers .section_body .offer_header {
        color: #7a1919;
        font-size: 30px;
        font-weight: bold;
        letter-spacing: 5px;
        padding-top: 20px; }
        .contactpage_main_wrapper .contactpage_section_offers .section_body .offer_header img {
          width: 155px;
          height: 130px;
          transition: all ease-in-out 0.3s; }
      .contactpage_main_wrapper .contactpage_section_offers .section_body .offer_body {
        font-size: 20px;
        padding-top: 15px;
        letter-spacing: 2px;
        line-height: 27px; }
      .contactpage_main_wrapper .contactpage_section_offers .section_body:hover img {
        animation: mexicanWave 500ms infinite; }
  .contactpage_main_wrapper .contactpage_section_working_time {
    display: flex;
    justify-content: center;
    padding: 50px; }
    .contactpage_main_wrapper .contactpage_section_working_time .section_header {
      color: #c5c5c5;
      font-size: 30px; }
      .contactpage_main_wrapper .contactpage_section_working_time .section_header div h5 {
        text-align: center; }
      .contactpage_main_wrapper .contactpage_section_working_time .section_header div hr {
        width: 70px;
        height: 1px;
        background: indianred;
        transition: all ease-in-out 0.3s; }
      .contactpage_main_wrapper .contactpage_section_working_time .section_header div:hover hr {
        width: 130px; }
  .contactpage_main_wrapper .contactpage_section_form {
    display: flex;
    flex-wrap: wrap; }
    .contactpage_main_wrapper .contactpage_section_form #contact_form {
      color: #c5c5c5;
      display: flex;
      padding: 25px;
      justify-content: center; }
      .contactpage_main_wrapper .contactpage_section_form #contact_form form {
        display: flex;
        justify-content: center;
        background: rgba(120, 120, 120, 0.5);
        width: 500px;
        height: 530px;
        padding: 20px;
        border-radius: 10px; }
        .contactpage_main_wrapper .contactpage_section_form #contact_form form fieldset {
          display: flex;
          align-items: center;
          flex-direction: column;
          border-width: 2px;
          border-style: groove;
          border-color: #c5c5c5;
          padding: 20px; }
          .contactpage_main_wrapper .contactpage_section_form #contact_form form fieldset legend {
            font-size: 30px;
            letter-spacing: 3px;
            text-align: center; }
          .contactpage_main_wrapper .contactpage_section_form #contact_form form fieldset label {
            font-size: 25px;
            text-align: left;
            margin: 10px 0; }
          .contactpage_main_wrapper .contactpage_section_form #contact_form form fieldset input {
            width: 100%; }
          .contactpage_main_wrapper .contactpage_section_form #contact_form form fieldset textarea {
            width: 100%;
            height: 150px;
            resize: none; }
          .contactpage_main_wrapper .contactpage_section_form #contact_form form fieldset input[type="button"] {
            width: 30%;
            min-width: 100px;
            height: 10%;
            margin: 15px auto;
            font-size: 22px;
            font-weight: bold;
            background: rgba(252, 60, 30, 0.6);
            border: 3px solid rgba(197, 197, 197, 0.6);
            border-radius: 20px;
            box-shadow: 0 0 10px 5px rgba(153, 153, 153, 0.35);
            transition: all .5s;
            color: white; }
            .contactpage_main_wrapper .contactpage_section_form #contact_form form fieldset input[type="button"]:hover {
              background: rgba(33, 241, 33, 0.6);
              cursor: pointer;
              font-size: 25px; }
    .contactpage_main_wrapper .contactpage_section_form #contact_google_map {
      color: #c5c5c5;
      display: flex;
      flex-direction: column;
      padding: 25px;
      justify-content: center; }
      .contactpage_main_wrapper .contactpage_section_form #contact_google_map #map_wrapper {
        text-align: center;
        background: rgba(120, 120, 120, 0.5);
        height: 530px;
        border-radius: 10px;
        padding: 20px; }
        .contactpage_main_wrapper .contactpage_section_form #contact_google_map #map_wrapper h1 {
          font-size: 30px;
          font-weight: bold;
          letter-spacing: 3px;
          padding-top: 4px;
          margin: 0 0 55px 0; }
        .contactpage_main_wrapper .contactpage_section_form #contact_google_map #map_wrapper #google_map {
          height: 400px;
          width: 100%;
          color: white;
          background: greenyellow; }

/*# sourceMappingURL=contactpage.css.map */
