@font-face {
  font-family: "Open Sans"; }
@keyframes pulse_animation {
  0% {
    transform: scale(1); }
  6% {
    transform: scale(1.02); }
  12% {
    transform: scale(1.05); }
  18% {
    transform: scale(1.07); }
  24% {
    transform: scale(1.09); }
  30% {
    transform: scale(1.07); }
  36% {
    transform: scale(1.05); }
  42% {
    transform: scale(1.02); }
  48% {
    transform: scale(1); }
  54% {
    transform: scale(1.02); }
  60% {
    transform: scale(1.05); }
  66% {
    transform: scale(1.07); }
  72% {
    transform: scale(1.09); }
  78% {
    transform: scale(1.07); }
  84% {
    transform: scale(1.05); }
  90% {
    transform: scale(1.02); }
  96% {
    transform: scale(1); } }
.homepage_main_wrapper {
  text-align: center; }
  .homepage_main_wrapper .homepage_main_header {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .homepage_main_wrapper .homepage_main_header h1 {
      color: #c5c5c5;
      font-size: 40px;
      width: 100%;
      margin-bottom: 25px;
      text-align: center;
      letter-spacing: 6px;
      text-shadow: 3px 3px #0D0A0A; }
    .homepage_main_wrapper .homepage_main_header h3 {
      color: #c5c5c5;
      font-size: 20px;
      width: 50%;
      text-align: center; }
    .homepage_main_wrapper .homepage_main_header hr {
      height: 2px;
      width: 200px;
      background-color: indianred; }
    .homepage_main_wrapper .homepage_main_header:hover hr {
      transition: all .3s ease-in-out;
      width: 300px; }
  .homepage_main_wrapper .homepage_main_body {
    display: inline-flex;
    flex-wrap: wrap;
    width: 90%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 31%, rgba(173, 61, 32, 0.5) 100%);
    margin: 60px 0 50px 0;
    padding: 50px 0 170px 0;
    justify-content: center; }
    .homepage_main_wrapper .homepage_main_body h1 {
      color: #c5c5c5; }
    .homepage_main_wrapper .homepage_main_body a {
      text-decoration: none; }
      .homepage_main_wrapper .homepage_main_body a:hover h1 {
        text-decoration: none;
        color: #1ca03c; }
      .homepage_main_wrapper .homepage_main_body a:hover img {
        animation-name: pulse_animation;
        animation-duration: 1500ms;
        transform-origin: 70% 70%;
        animation-iteration-count: infinite;
        animation-timing-function: linear; }
    .homepage_main_wrapper .homepage_main_body section {
      display: flex;
      flex-wrap: wrap;
      justify-content: center; }
      .homepage_main_wrapper .homepage_main_body section .section_header {
        font-size: 20px;
        font-weight: bold; }
        .homepage_main_wrapper .homepage_main_body section .section_header .section_image {
          display: flex;
          justify-content: center;
          opacity: 0.7; }
      .homepage_main_wrapper .homepage_main_body section .section_body {
        width: 100%;
        padding-top: 32px;
        margin-bottom: 30px; }
      .homepage_main_wrapper .homepage_main_body section hr {
        height: 2px;
        width: 150px;
        background-color: indianred; }
      .homepage_main_wrapper .homepage_main_body section:hover hr {
        transition: all .3s ease-in-out;
        width: 200px; }
    .homepage_main_wrapper .homepage_main_body .homepage_section_offers .header_offer_1 {
      border-bottom: 1px solid #c5c5c5;
      text-align: left;
      cursor: pointer; }
    .homepage_main_wrapper .homepage_main_body .homepage_section_offers .section_body a {
      color: #c5c5c5; }
      .homepage_main_wrapper .homepage_main_body .homepage_section_offers .section_body a:hover {
        color: #1ca03c; }
    .homepage_main_wrapper .homepage_main_body .homepage_section_offers .section_body h4 {
      color: #c5c5c5;
      font-size: 20px;
      line-height: 23px;
      padding: 10px; }
    .homepage_main_wrapper .homepage_main_body .homepage_section_offers .section_body p {
      display: none;
      color: #c5c5c5;
      font-size: 16px;
      text-align: left;
      text-decoration: none;
      margin: 10px; }
    .homepage_main_wrapper .homepage_main_body .homepage_section_about p {
      color: #c5c5c5;
      font-size: 17px;
      line-height: 25px;
      letter-spacing: 2px;
      padding-top: 4px; }
    .homepage_main_wrapper .homepage_main_body .homepage_section_posts .section_header h1 {
      margin-bottom: 17px; }
    .homepage_main_wrapper .homepage_main_body .homepage_section_posts .section_body {
      height: 198px;
      overflow-x: hidden; }
      .homepage_main_wrapper .homepage_main_body .homepage_section_posts .section_body .posts {
        margin-top: -33px; }
    .homepage_main_wrapper .homepage_main_body .post_wrapper {
      padding: 0 10px 0 25px; }
      .homepage_main_wrapper .homepage_main_body .post_wrapper .post_header {
        color: #c5c5c5;
        text-align: left; }
        .homepage_main_wrapper .homepage_main_body .post_wrapper .post_header h5 {
          font-size: 20px; }
        .homepage_main_wrapper .homepage_main_body .post_wrapper .post_header span {
          float: right; }
      .homepage_main_wrapper .homepage_main_body .post_wrapper .post_body {
        color: #a3a3a3;
        font-size: 14px;
        text-align: left;
        margin: 5px 0 18px 0; }
      .homepage_main_wrapper .homepage_main_body .post_wrapper:hover {
        transition: all .3s ease-in-out;
        transform: scale(1.03, 1.03); }
        .homepage_main_wrapper .homepage_main_body .post_wrapper:hover h5 {
          color: #1ca03c; }

.hoverEffect img {
  animation-name: pulse_animation;
  animation-duration: 1500ms;
  transform-origin: 70% 70%;
  animation-iteration-count: infinite;
  animation-timing-function: linear; }

@media screen and (max-width: 710px) {
  .homepage_main_wrapper .homepage_main_header h1 {
    font-size: 6.5vw; }
  .homepage_main_wrapper .homepage_main_header h1, .homepage_main_wrapper .homepage_main_header h3 {
    width: -10px; } }
@media screen and (min-width: 991px) and (max-width: 1195px) {
  .homepage_main_body section {
    height: 520px; } }
@media screen and (min-width: 1196px) {
  .homepage_main_body section {
    height: 442px; } }

/*# sourceMappingURL=homepage.css.map */
