$linkHoverColor: rgb(28, 160, 60);
$mainHeaderColor: rgb(197, 197, 197);
$mainBodyColor: rgb(163, 163, 163);
$hrColor: indianred;

@keyframes pulse_animation {
  0% {
    transform: scale(1);
  }
  6% {
    transform: scale(1.02);
  }
  12% {
    transform: scale(1.05);
  }
  18% {
    transform: scale(1.07);
  }
  24% {
    transform: scale(1.09);
  }
  30% {
    transform: scale(1.07);
  }
  36% {
    transform: scale(1.05);
  }
  42% {
    transform: scale(1.02);
  }
  48% {
    transform: scale(1);
  }
  54% {
    transform: scale(1.02);
  }
  60% {
    transform: scale(1.05);
  }
  66% {
    transform: scale(1.07);
  }
  72% {
    transform: scale(1.09);
  }
  78% {
    transform: scale(1.07);
  }
  84% {
    transform: scale(1.05);
  }
  90% {
    transform: scale(1.02);
  }
  96% {
    transform: scale(1);
  }
}

.homepage_main_wrapper {
  text-align: center;
  .homepage_main_header {
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
      color: $mainHeaderColor;
      font-size: 50px;
      width: 450px;
      text-align: center;
    }
    h3 {
      color: $mainHeaderColor;
      font-size: 30px;
      width: 450px;
      text-align: center;
    }
    hr {
      height: 2px;
      width: 300px;
      background-color: indianred;
    }
  }

  .homepage_main_body {
    display: inline-flex;
    flex-wrap: wrap;
    width: 90%;
    height: 560px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 31%, rgba(173, 61, 32, 0.5) 100%);
    margin-bottom: 50px;
    padding-top: 50px;
    h1 {
      color: $mainHeaderColor;
    }
    a {
      text-decoration: none;
      &:hover {
        h1 {
          text-decoration: none;
          color: $linkHoverColor;
        }

        img {
          animation-name: pulse_animation;
          animation-duration: 1500ms;
          transform-origin: 70% 70%;
          animation-iteration-count: infinite;
          animation-timing-function: linear;
        }
      }
    }
    section {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      .section_header {
        font-size: 30px;
        font-weight: bold;
        .section_image {
          display: flex;
          justify-content: center;
          opacity: 0.7;
        }
      }
      .section_body {
        width: 100%;
        padding-top: 30px;
      }
      hr {
        height: 2px;
        width: 150px;
        background-color: indianred;
      }
      &:hover {
        hr {
          transition: all .3s ease-in-out;
          width: 200px;
        }
      }
    }
    .homepage_section_offers {
      .header_offer_1 {
        border-bottom: 1px solid $mainHeaderColor;
        text-align: left;
        cursor: pointer;
      }
      .section_body {
        a {
          color: $mainHeaderColor;
          &:hover {
            color: $linkHoverColor;
          }
        }
        h4 {
          color: $mainHeaderColor;
          font-size: 30px;
          line-height: 44px;
        }
        p {
          display: none;
          color: $mainHeaderColor;
          font-size: 20px;
          text-align: left;
          text-decoration: none;
        }
      }
    }
    .homepage_section_about {
      p {
        color: $mainHeaderColor;
        font-size: 24px;
        line-height: 30px;
        letter-spacing: 2px;
      }
    }
  }
}
.hoverEffect {
  img {
    animation-name: pulse_animation;
    animation-duration: 1500ms;
    transform-origin: 70% 70%;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
}
