$mainGradient: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 31%, rgba(173, 61, 32, 0.5) 100%);
$linkHoverColor: rgb(28, 160, 60);
$mainHeaderColor: rgb(197, 197, 197);
.postpage_main_wrapper {
  position: relative;
  top: 150px;
  margin: 0 2% 200px 2%;
  padding: 3%;
  display: flex;
  justify-content: space-between;
  background: $mainGradient;
  flex-wrap: wrap;
  .post_wrapper {
    width: 90%;
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 0 5px 30px 5px;
    a {
      width: 90%;
      text-decoration: none;
      color: $mainHeaderColor;
      transition: all 0.3s ease-in-out;
      border-radius: 15px;
      .post_header {
        padding: 10px 0;
        display: inline-flex;
        flex-direction: column;
        h5 {
          width: 100%;
          font-size: 35px;
          font-weight: bold;
        }
      }
      .post_body {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        p {
          padding: 10px;
          font-size: 25px;
        }
        img, iframe {
          width: 80%;
          border-radius: 2px;
          border: 3px solid $mainHeaderColor;
        }
      }
      &:hover {
        opacity: 1;
        background: rgba(255, 255, 255, 0.5);
        margin: -1.2px;
        color: #0D0A0A;
        -webkit-text-stroke: 1px black;
        img {
          border: 3px solid #0D0A0A;
        }
      }
    }
  }
}

@media all and (max-width: 576px) {
  .postpage_main_wrapper {
    justify-content: center;
    .post_wrapper {
      flex: 0.7 0 51%;
    }
  }
}

@media all and (min-width: 576px) and (max-width: 768px) {
  .postpage_main_wrapper {
    justify-content: center;
    .post_wrapper {
      flex: 0.7 0 56%;
    }
  }
}

@media all and (min-width: 768px) and (max-width: 895px) {
  .postpage_main_wrapper {
    .post_wrapper {
      flex: 0 0 46%;
    }
  }
}

@media all and (min-width: 895px) and (max-width: 1050px) {
  .postpage_main_wrapper {
    .post_wrapper {
      flex: 0 0 46%;
    }
  }
}

@media all and (min-width: 1050px) and (max-width: 1198px) {
  .post_wrapper {
    flex: 0 0 46%;
  }
}

@media all and (min-width: 1198px) and (max-width: 1330px) {
  .postpage_main_wrapper {
    .post_wrapper {
      flex: 0 0 46%;
    }
  }
}

@media all and (min-width: 1331px) and (max-width: 1500px) {
  .post_wrapper {
    flex: 0 0 31%;
  }
}

@media all and (min-width: 1500px) {
  .post_wrapper {
    flex: 0 0 15%;
    background-color: yellow;
  }
}








