$mainHeaderColor: rgb(197, 197, 197);
$mainGradient: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 31%, rgba(173, 61, 32, 0.5) 100%);
.videos_main_wrapper {
  position: relative;
  top: 140px;
  display: flex;
  padding: 50px 4% 10px 4%;
  width: 90%;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 300px;
  background: $mainGradient;
  .single_video_wrapper {
    padding: 10px;
    iframe {
      width: 100%;
      height: 250px;
      overflow: hidden;
      &:hover {
        box-shadow: 0 0 7px 4px indianred;
        transition: all .2s ease-in-out;
        transform: scale(1.03, 1.03);
      }
    }
  }
}