<section class="footer_partners col-lg-4 col-md-6 col-sm-6 col-xs-12">
    <div class="footer_section_header">
        <h5>ПАРТНЬОРИ:</h5>
    </div>
    <div class="footer_section_body">
        <div class="partner aqua">
            <a href="https://www.facebook.com/AquatoriaDesigns/?fref=ts" target="_blank"
               title="Go to Aquatoria Designs">
                <img src="./images/Footer/aqua.png" alt="No logo preview at the moment">
                <h5>AQUATORIA DESIGNS</h5>
            </a>
        </div>
        <div class="partner food">
            <a href="https://www.facebook.com/FoodFactoryBulgaria/?fref=ts" target="_blank"
               title="Go to Food Factory Bulgaria">
                <img src="./images/Footer/Food.png" alt="No logo preview at the moment">
                <h5>FOOD FACTORY BULGARIA</h5>
            </a>
        </div>
        <div class="partner sofia">
            <a href="https://www.facebook.com/youngeuropeancinemasofia/" target="_blank"
               title="Go to Young Meetings">
                <img src="./images/Footer/Sofia.png" alt="No logo preview at the moment">
                <h5>YOUNG MEETINGS</h5>
            </a>
        </div>
    </div>
</section>