<section class="footer_follow col-lg-4 col-md-12">
    <div class="footer_section_header">
        <h5>PLEASE FOLLOW & LIKE US :)</h5>
    </div>
    <div class="footer_section_body">
        <div class="social">
            <a href="https://www.youtube.com/user/ToReXa" target="_blank" title="Follow us on Youtube">
                <img src="./images/youtube.png" alt="No logo preview at the moment">
            </a>
        </div>
        <div class="social">
            <a href="https://www.facebook.com/StudioTorex/?ref=br_rs" target="_blank" title="Follow us on Facebook">
                <img src="./images/facebook.png" alt="No logo preview at the moment">
            </a>
        </div>
        <div class="social">
            <a href="#" target="_blank" title="Send me an Email">
                <img src="./images/email.png" alt="No logo preview at the moment">
            </a>
        </div>
    </div>
</section>