<section class="footer_offers col-lg-4 col-md-6 col-sm-6 col-xs-12">
    <div class="footer_section_header">
        <h5>НАШИТЕ УСЛУГИ:</h5>
    </div>
    <div class="footer_section_body">
        {{#each offers}}
            <h6>{{header}}</h6>
        {{/each}}
        {{>contact_us_button}}
    </div>
</section>