<form id="admin_form" action="login()">
    <fieldset>
        <legend>Login to admin panel</legend>
        <label for="username">Username: </label>
        <input id="username" type="text" placeholder="Въведи потребителско име..." required>
        <label for="password">Password: </label>
        <input id="password" type="password" placeholder="Въведи парола..." required>
        <label for="secret">What was MY first nickname in Diablo II: </label>
        <input id="secret" type="password" placeholder="Въведи първият ми никнейм..." required>
    </fieldset>
</form>