<div class="input">
    <label for="photo_url">URL на снимката:</label>
    <input id="photo_url" type="text" placeholder="Въведи URL на видеото" required>
    <label for="photo_title">Заглавие:</label>
    <input id="photo_title" type="text" placeholder="Въведи Заглавие на видеото" required>
    <label for="photo_collection">Раздел:</label>
    <select id="photo_collection" type="text" required>
        <option value="portrets">Портретна</option>
        <option value="weddings">Сватбена</option>
        <option value="boudoir">Boudoir</option>
        <option value="behind">Зад кулисите</option>
    </select>
    <input class="submitData" id="submit_photos" type="submit" value="Качи">
</div>