<div class="form_control">
    <input type="button" id="show_post_form" value="Публикувай нов пост">
</div>
<form class="input" id="submit_post">
    <span class="close_form" id="close_post_form">[X]</span>
    <label for="post_title">Заглавие:<span class="required_field">(Задължително)</span></label>
    <input id="post_title" type="text" placeholder="Въведи Заглавие на поста..." required>
    <label for="post_subtitle">Подзаглавие:<span class="required_field">(Задължително)</span></label>
    <input id="post_subtitle" type="text" placeholder="Въведи Подзаглавие на поста..." required>
    <label for="post_img">URL на снимка:</label>
    <input id="post_img" type="text" placeholder="Въведи URL на снимка...">
    <label for="post_video">URL на видео:</label>
    <input id="post_video" type="text" placeholder="Въведи URL на видео...">
    <label for="post_body">Текст на поста:<span class="required_field">(Задължително)</span></label>
    <textarea id="post_body" placeholder="Въведи текст..." required></textarea>
    <label for="post_body2">Втори Текст на поста:</label>
    <textarea id="post_body2" placeholder="Въведи текст..."></textarea>
    <input class="submitData" type="submit" value="Качи">
</form>