<form class="input" id="submit_video">
    <label for="video_url">URL на видеото:<span class="required_field">(Задължително)</span></label>
    <input id="video_url" type="text" placeholder="Въведи URL на видеото" required>
    <label for="video_title">Заглавие:<span class="required_field">(Задължително)</span></label>
    <input id="video_title" type="text" placeholder="Въведи Заглавие на видеото" required>
    <label for="video_img">URL на постер на видеото:</label>
    <input id="video_img" type="text" placeholder="Въведи URL постер">
    <label for="video_collection">Раздел:<span class="required_field">(Задължително)</span></label>
    <select id="video_collection" type="text" required>
        <option value="music">Музикални видеоклипове</option>
        <option value="ads">Реклами</option>
        <option value="weddings">Сватби</option>
    </select>
    <input class="submitData" type="submit" value="Качи">
</form>