<div class="form_control">
    <input type="button" id="show_video_form" value="Публикувай ново видео">
</div>
<form class="input" id="submit_video">
    <span class="close_form" id="close_video_form">[X]</span>
    <label for="video_url">URL за вграждане на видеото:<span class="required_field">(Задължително)</span></label>
    <input id="video_url" type="text" placeholder="Въведи URL на видеото" required>
    <label for="video_title">Заглавие:<span class="required_field">(Задължително)</span></label>
    <input id="video_title" type="text" placeholder="Въведи Заглавие на видеото" required>
    <label for="video_type">Раздел:<span class="required_field">(Задължително)</span></label>
    <select id="video_type" type="text" required>
        <option value="music">Музикални видеоклипове</option>
        <option value="ads">Реклами</option>
        <option value="weddings">Сватби</option>
    </select>
    <input class="submitData" type="submit" value="Качи">
</form>