{{#each photo}}
    <a href="{{url}}" data-sub-html="<h4>{{title}}</h4>">
        <img class="photos" src="{{url}}" alt="No image preview"/>
        <div class="photo_overlay"><i class="fa fa-plus-circle" aria-hidden="true"></i></div>
    </a>
{{/each}}
