{{#if video_source}}
    <header class="header_wrapper">
        <div class="header_row home">
            {{>header_logo}}
            {{>header_menu}}
        </div>
        {{>header_video}}
        <a href="#" id="scroll_top" title="Scroll to top">
            <span>&#10147;</span>
        </a>
    </header>
{{else}}
    <header class="header_wrapper">
        <div class="header_row">
            {{>header_logo}}
            {{>header_menu}}
        </div>
            <span id="scroll_top">&#10147;</span>
    </header>
{{/if}}
