<div class="header_menu">
    <ul>
        <li><a href="#">Начало</a></li>
        <li><a href="#/about">За Нас</a></li>
        <li><a href="#">Видео</a></li>
        <li><a href="#">Фотография</a></li>
        <li><a href="#">За Вас</a></li>
        <li><a href="#/contact">Контакти</a></li>
    </ul>
</div>