<div class="header_menu">
    <ul class="header_nav">
        <li><a href="#">Начало</a></li>
        <li><a href="#/about">За Нас</a></li>
        <li id="videos_button">
            <a href="#/videos">Видео</a>
            <ul class="videos_dropdown">
                <li><a href="#/videos/Adds">Реклами</a></li>
                <li><a href="#/videos/Music">Музикални видеоклипове</a></li>
                <li><a href="#/videos/Weddings">Сватби</a></li>
            </ul>
        </li>
        <li><a href="#/photography">Фотография</a></li>
        <li><a href="#/posts">За Вас</a></li>
        <li><a href="#/contact">Контакти</a></li>
    </ul>
</div>