<div class="header_video">
    <video id="header_video" width="100%" height="100%" autoplay loop src={{video_source}} muted></video>
    {{>contact_us_button}}
    <span id="video_pause_button" title="Pause/Play video"><i class="fa fa-pause" aria-hidden="true"></i></span>
</div>