<div id="btn_menu"><i class="fa fa-bars" aria-hidden="true"></i></div>
<div class="header_menu">
    <ul class="header_nav">
        <li><a href="/#/">Начало</a></li>
        <li><a href="#/about">За Нас</a></li>
        <li id="videos_button">
            <span>Видео&nbsp;<i class="fa fa-sort-desc" aria-hidden="true"></i></span>
            <ul class="videos_dropdown">
                <li><a href="#/videos/ads">Реклами</a></li>
                <li id="music_clips"><a href="#/videos/music">Музикални видеоклипове</a></li>
                <li><a href="#/videos/weddings">Сватби</a></li>
            </ul>
        </li>
        <li id="photography_button">
            <span>Фотография&nbsp;<i class="fa fa-sort-desc" aria-hidden="true"></i></span>
            <ul class="photography_dropdown">
                <li><a href="#/photography/portrets">Портретна</a></li>
                <li><a href="#/photography/weddings">Сватбена</a></li>
                <li><a href="#/photography/behind">Boudoir</a></li>
                <li><a href="#/photography/boudoir">Зад кулисите</a></li>
            </ul>
        </li>
        <li><a href="#/posts">За Вас</a></li>
        <li><a href="#/contact">Контакти</a></li>
    </ul>
</div>