.input {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: fixed;
  top: 20%;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 380px;
  background: rgba( 197, 197, 197, 0.8);
  align-items: center;
  text-align: center;
  padding: 10px;
  font-size: 15px;
  font-weight: bold;
  input {
    width: 50%;
    text-align: center;
  }
  label {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-size: 20px;
    margin: 10px;
    .required_field {
      color: indianred;
      font-size: 14px;
      font-style: italic;
      margin-top: 5px;
    }
  }
  .submitData {
    margin-top: 20px;
    width: 12%;
    border-radius: 15%;
    background: rgba(50, 200, 50, 0.7);
    &:hover {
      background: rgba(33, 241, 33, 0.6);
      cursor: pointer;
      box-shadow: 0 0 5px 5px rgba(153, 153, 153, 1 );
    }
  }
}
#submit_post {
  height: 560px;
  textarea {
    resize: none;
    width: 50%;
    text-align: center;
  }
}