<section class="contactpage_section_working_time">
    <div class="section_header">
        <h5><i class="fa fa-check"></i>Понеделник - Неделя</h5>
        <hr>
        <i class="fa fa-clock"></i><h5>10:00 - 21:00ч.</h5>
        <hr>
        <h5><i class="fas fa-phone"></i>0898459774 - Иван Димитров</h5>
        <hr>
    </div>
</section>