<section class="contactpage_section_form">
    <div id="contact_form" class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
        <form id="message_form">
            <fieldset>
                <legend>Пиши ни и ние ще се свържем с теб:</legend>
                <label for="name">Твоето име:</label>
                <input type="text" id="name" name="name" placeholder="Въведи име..." required>
                <label for="email">Твоят имейл:</label>
                <input type="email" id="email" name="email" placeholder="Въведи имейл..." required>
                <label for="message">Твоето съобщение:</label>
                <textarea name="message" id="message" placeholder="Въведи съобщение..." required></textarea>
                <input type="button" id="send_message" value="Изпрати">
            </fieldset>
        </form>
    </div>
    <div id="contact_google_map" class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
        <div id="map_wrapper">
            <h1>Може да ни намерите тук:</h1>
            <div id="google_map">
            </div>
        </div>
    </div>
</section>