<section class="contactpage_section_form">
    <div id="contact_form">
        <form>
            <fieldset>
                <legend>Пиши ни и ние ще се свържем с теб:</legend>
                <label for="name">Твоето име:</label>
                <input type="text" name="name" placeholder="Въведи име..." required>
                <label for="email">Твоят имейл:</label>
                <input type="email" name="email" placeholder="Въведи имейл..." required>
                <label for="message">Твоето съобщение:</label>
                <textarea name="message" placeholder="Въведи съобщение..." required></textarea>
                <input type="button" value="Изпрати">
            </fieldset>
        </form>
    </div>
    <div id="contact_google_map">

    </div>
</section>