* {
  box-sizing: border-box;
  font-family: Europe_Ext, arial; }

.footer_wrapper {
  background-color: #252525;
  padding-bottom: 50px; }
  .footer_wrapper .footer_row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    .footer_wrapper .footer_row section {
      display: inline-flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center; }
    .footer_wrapper .footer_row .footer_section_header {
      color: #c5c5c5;
      display: flex;
      justify-content: center;
      font-size: 22px;
      margin: 25px 0 25px 0;
      font-family: Europe_Ext, arial;
      text-align: center; }
    .footer_wrapper .footer_row .footer_section_body {
      color: #a3a3a3;
      font-family: Europe_Ext, arial;
      font-size: 27px;
      text-align: center;
      line-height: 45px;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      .footer_wrapper .footer_row .footer_section_body h6 {
        font-size: 20px; }
        .footer_wrapper .footer_row .footer_section_body h6:hover {
          transition: all .3s ease-in-out;
          transform: scale(1.1, 1.1); }
      .footer_wrapper .footer_row .footer_section_body h5 {
        font-size: 14px;
        float: right; }
      .footer_wrapper .footer_row .footer_section_body .partner {
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: nowrap;
        height: 70px; }
        .footer_wrapper .footer_row .footer_section_body .partner a {
          color: #c5c5c5; }
          .footer_wrapper .footer_row .footer_section_body .partner a:hover {
            text-decoration: none;
            color: #1ca03c; }
        .footer_wrapper .footer_row .footer_section_body .partner.aqua {
          margin: -2px 0 25px -20px; }
          .footer_wrapper .footer_row .footer_section_body .partner.aqua h5 {
            margin-top: 28px; }
          .footer_wrapper .footer_row .footer_section_body .partner.aqua img {
            width: 90px;
            height: 70px; }
        .footer_wrapper .footer_row .footer_section_body .partner.food {
          margin-left: 22px;
          padding-bottom: 25px; }
          .footer_wrapper .footer_row .footer_section_body .partner.food h5 {
            margin: 5px 0 0 10px; }
          .footer_wrapper .footer_row .footer_section_body .partner.food img {
            width: 80px;
            height: 40px; }
        .footer_wrapper .footer_row .footer_section_body .partner.sofia {
          margin-left: -37px; }
          .footer_wrapper .footer_row .footer_section_body .partner.sofia h5 {
            margin: 12px 0 0 16px; }
          .footer_wrapper .footer_row .footer_section_body .partner.sofia img {
            width: 60px;
            height: 60px; }
        .footer_wrapper .footer_row .footer_section_body .partner:hover {
          transition: all .3s ease-in-out;
          transform: scale(1.1, 1.1); }
      .footer_wrapper .footer_row .footer_section_body .social {
        display: inline-flex;
        margin: 50px 18px 0 0;
        border-radius: 50px;
        height: 50px;
        padding: 2px 0 0 2px;
        transition: all .3s ease-in-out; }
        .footer_wrapper .footer_row .footer_section_body .social img {
          height: 50px; }
        .footer_wrapper .footer_row .footer_section_body .social:hover {
          transform: scale(1.1, 1.1);
          box-shadow: 2px 2px 2px 2px #a3a3a3; }
    .footer_wrapper .footer_row .footer_follow .footer_section_body {
      flex-direction: row; }

@media screen and (max-width: 400px) {
  .footer_wrapper .footer_row .footer_section_body .partner {
    height: 75px; }
    .footer_wrapper .footer_row .footer_section_body .partner h5 {
      font-size: 12px; }
    .footer_wrapper .footer_row .footer_section_body .partner.aqua {
      margin: -10px 0 0 -55px; }
      .footer_wrapper .footer_row .footer_section_body .partner.aqua h5 {
        margin: 15px 0 0 -8px; }
      .footer_wrapper .footer_row .footer_section_body .partner.aqua img {
        width: 75px;
        height: 60px; }
    .footer_wrapper .footer_row .footer_section_body .partner.sofia {
      margin-left: -65px; }
      .footer_wrapper .footer_row .footer_section_body .partner.sofia h5 {
        margin: 12px 0 0 6px; }
      .footer_wrapper .footer_row .footer_section_body .partner.sofia img {
        width: 50px;
        height: 50px; }
    .footer_wrapper .footer_row .footer_section_body .partner.food {
      margin-left: -2px; }
      .footer_wrapper .footer_row .footer_section_body .partner.food h5 {
        margin: 8px 0 0 7px; }
      .footer_wrapper .footer_row .footer_section_body .partner.food img {
        width: 50px;
        height: 50px; } }

/*# sourceMappingURL=footer.css.map */
